<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister.fhircore.engine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="21" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="21" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="21" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="21" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        xmlns:tools="http://schemas.android.com/tools">

        <activity
            android:name=".ui.appsetting.AppSettingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pin.PinLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pin.PinSetupActivity"
            android:exported="false" />
        <activity
            android:name=".HiltActivityForTest"
            android:exported="false"
            android:theme="@style/AppTheme" />

    </application>
</manifest>
