.DS_Store
/build

# Gradle files
.gradle/
build/
docs/

# Local configuration file (sdk path, etc)
local.properties

# Keystore configuration file
keystore.properties

# Log Files
*.log

# IntelliJ
*.iml
.idea

# Gradle Properties
gradle.properties
android/quest/src/main/assets/configs/*
!android/quest/src/main/assets/configs/app
