.DS_Store
/build

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Keystore configuration file
keystore.properties

# Log Files
*.log

# IntelliJ
*.iml
.idea
native
wrapper
workers
daemon
caches
.tmp

# Gradle Properties
gradle.properties
