.DS_Store
/build

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Keystore configuration file
keystore.properties

# Log Files
*.log

# IntelliJ
*.iml
.idea

# Gradle Properties
gradle.properties
