<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.fhircore.quest">

    <application
        android:name=".QuestApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hasFragileUserData="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.family.remove.member.RemoveFamilyMemberQuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".ui.family.remove.family.RemoveFamilyQuestionnaireActivity"
            android:exported="false" />

        <activity android:name=".ui.main.AppMainActivity" />

        <service
            android:name="org.smartregister.fhircore.engine.auth.AuthAndroidService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"

            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
