# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Android CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit_tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: android

    - name: Spotless check
      run: ./gradlew spotlessCheck
      working-directory: android

    - name: Run unit tests with Gradle
      run: ./gradlew jacocoTestReport --stacktrace
      working-directory: android
      env:
       FHIRCORE_USERNAME: ${{ secrets.FHIRCORE_USERNAME }}
       FHIRCORE_ACCESS_TOKEN: ${{ secrets.FHIRCORE_ACCESS_TOKEN }}

    - name: Document code with dokka
      run: ./gradlew dokkaHtml
      working-directory: android

    - name: Upload code coverage report to coveralls
      run: ./gradlew coveralls --stacktrace
      working-directory: android
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
